<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Node Sample App</title>

	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-106870551-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', 'UA-106870551-1');
</script>

</head>
<body>

<div class="container">
	<div class="jumbotron">
		<h1>This Is Heroku Awesome!</h1>
	</div>
</div>
	
</body>
</html>